* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory
}

section {
    scroll-snap-align: start;
}

:root {
    --primary-color: #FFBA49;
    --secondary-color: #20A39E;
    --tertiary-color: #EF5B5B;
    --fourth-color: #23001E;
    --fifth-color: #A4A9AD;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

/* projects */
.projects {
    height: 100vh;
    background-color: var(--secondary-color);
}

.projects .card { 
    border-radius: 0;
}

.projects .card:hover {

    transition: 0.5s;
}

.projects img {
    filter: blur(2px);
    transition: 0.5s;
}

.card-img-overlay {
    top: 40%;
    text-align: center;
}

/* about me */
#about {
    height: 100vh;
    background-color: var(--tertiary-color);
}

.about-me img {
    max-height: auto;
    size: cover;
    position: center;
    max-width: 30vh;
}

.round {
    border-radius: 50%;
}

.card {
    padding: 0;
}

/* media queries */
@media screen and (max-width: 800px){
    .projects {
        height: 200vh;
    }
}