* {
    font-family: "Arial Narrow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name a{
    text-decoration: none;

}

/* style header */
header nav ul li{
    display: inline;
    font-size: 20px;
    margin: 0 20px;
    padding: 0 8px;
}

/* style name */
header h1{
    font-weight: lighter;
    padding: 10px 10px;
    font-size: 25x;
    display: inline;
    margin: 0;
}

header nav{
    padding: 10px 40px;
}

header{
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    background-image: url("../images/header.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 9999;
    position: sticky;
    top: 0;
}

header a{
    text-decoration: none;
    color: black;
    justify-content: left;
    padding: 8px;
}
header nav ul li a:hover{
    border-bottom: 1px solid #ffcba4;
    color: #ffcba4;
}

.header nav ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    list-style: none;
    width: 100%;
}

/* style footer */
address{
    font-weight: lighter;
    line-height: 1.3;
    padding: 5px 10px;
}

address a{
    text-decoration: none;
    color: black;
}

/* style hero */
/* .hero{
    background-image: url("../images/header.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-position: center;
} */

/* general styling */
.section-title{
    margin: 10px auto 10px auto;
    border-bottom: 2px solid #0f77ac;
    color: #0f77ac;
    width: 50%;
    text-align: center;
    font-size: 40px;
}

/* style bio */
.about-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url("../images/header.jpeg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
}

.about h2{
    margin: 10px auto 10px auto;
    border-bottom: 2px solid #0f77ac;
    color: #0f77ac;
    width: 50%;
    text-align: center;
    font-size: 40px;
}

.paragraph, .paragraph{
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px 10px;
    margin: 5px auto;
    background-color: rgba(127,127,127,0.6);
    border-radius: 15px;
}

.about p{
    display: inline;
    width: 500px;
    height: 250px;
    padding: 0 20px;
}

.about-container img{
    max-height: 250px;
    max-width: 100%;
    display: inline;
    border: 1px solid;
}




/* style projects grid */
